
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h2>Index</h2>

<div style="text-align:center">
    <img src="" />
</div>

<script>
    var img = document.querySelector('img');

    function loadImage() {
        var i = new Image();
        i.onload = function () {
            setTimeout(loadImage, 500);
            img.src = i.src;
        };
        i.onerror = function () {
            setTimeout(loadImage, 500);
        };
        i.src = '/api/face/latest_try?q=' + Math.random();
    }

    loadImage();
</script>