<div class="row">
    <div class="col-md-8">
		<p class="text-center">
			<video id="capture-video" autoplay></video>
		</p>
		<p>
			<button id="capture-button" class="btn btn-primary">Capture</button>
		</p>
    </div>
	<div class="col-md-4">
		<h2>Är detta du?</h2>
		<p>
			<img id="predict-img" src="" />
		</p>
		<p id="predict-name"></p>
	</div>
</div>
<div id="captures-container">
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Vad heter du?</h2>
		<p>
			<input id="user-name" type="text" />
		</p>
		<p>
			<button id="upload-button" class="btn btn-primary">Upload</button>
		</p>
	</div>
</div>